<%= form_for @user, url: {action: "create"} do |f| %>
  <div>
    <%= f.label :username, "Enter a username" %>
    <%= f.text_field :username, :value => "John Smith" %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email, :placeholder => "email@user.com" %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit %>
<% end %>







<!--<form action="/users" method="post" accept-charset="UTF-8">-->
  <!--Username: <input type="text" name="[user][username]" ><br>-->
  <!--email:    <input type="email" name="[user][email]" ><br>-->
  <!--password: <input type="password" name="[user][password]" ><br>-->
  <!--<input type="submit" value="Submit" >-->
  <!--<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">-->

<!--</form>-->